@{
    ViewBag.Title = "Trang chu";
}

 


<!-- SECTION -->
<div class="section">
    <!-- container -->
    @{Html.RenderAction("PopularPosts");}
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- row -->
                @{Html.RenderAction("RecentPosts");}
                <!-- /row -->
                <!-- row -->
                @{ Html.RenderAction("PostsByTag");}
                <!-- /row -->

            </div>
            <div class="col-md-4">
                @{Html.RenderAction("RightColumn");}
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ad -->
            <div class="col-md-12 section-row text-center">
                <a href="#" style="display: inline-block;margin: auto;">
                    <img class="img-responsive" src="~/Content/Template/img/ad-2.jpg" alt="">
                </a>
            </div>
            <!-- /ad -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                @{Html.RenderAction("AllPost");}

                <div class="section-row loadmore text-center">
                    <input type="hidden" id="loadmore-lastindex" value="5" />
                 
                    <a class="primary-button" href="@Url.Action("ListPost")" >Xem thêm</a>
                </div>
            </div>
            <div class="col-md-4">
                <!-- galery widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Instagram</h2>
                    </div>
                    <div class="galery-widget">
                        <ul>
                            <li><a href="#"><img src="~/Content/Template/img/galery-1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Content/Template/img/galery-2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Content/Template/img/galery-3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Content/Template/img/galery-4.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Content/Template/img/galery-5.jpg" alt=""></a></li>
                            <li><a href="#"><img src="~/Content/Template/img/galery-6.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /galery widget -->
                <!-- Ad widget -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="~/Content/Template/img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /Ad widget -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
